<!DOCTYPE html>
<html>

<head>
    <title>Multiple File upload in node and exprss</title>

<body>
    <div>
        <form method="post" action="/upload" enctype="multipart/form-data">
            <input type="file" name="file" multiple />
            <button type="submit">Upload</button>
        </form>
    </div>
</body>
</head>

</html>